@import './colors';
@import './animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.arrow {
	fill: white;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	// font-family: 'Cinzel', serif;

	font-family: 'Raleway';
	font-weight: 200;

	font-size: 1.6rem;
	background-color: $dark;
	color: $white;
}
p {
	font-family: 'Raleway';
	font-weight: 200;
}

h1.company-name {
	margin-bottom: 0.5em;
	font-family: 'Cinzel';
	color: $gold;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section-title {
	position: relative;
	margin: 0 auto 2em;
	font-size: 3.2rem;
	width: fit-content;
	color: $gold;
	font-family: 'Raleway';
	font-weight: 200;
	&::before {
		position: absolute;
		bottom: -0.1em;
		left: 0;
		width: 40px;
		height: 2px;
		background-color: $gold;
		content: '';
	}
	span {
		font-family: 'Raleway';

		font-weight: 900;
	}
}

//header

.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100vh;
	position: relative;
	overflow: hidden;
	&__text {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-row: 2/3;
		grid-column: 1/3;
		padding: 2em;
		p {
			font-weight: 200;
		}
	}
	&__img {
		grid-row: 1/2;
		grid-column: 1/3;
		position: relative;
		background-image: url('../img/bitcoin-3014614_640.jpg');
		background-size: cover;
		background-position: center;
		filter: sepia();
	}
	&__shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&__arrow {
		display: none;
	}
	&__bg-icon-one,
	&__bg-icon-two {
		position: absolute;
		opacity: 0.05;
		z-index: -5;
		animation: rotate-right 55s infinite linear;
	}

	&__bg-icon-one {
		bottom: 2em;
		right: -3em;
		width: 50%;
	}

	&__bg-icon-two {
		display: none;
	}
}

.nav {
	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $dark;
		z-index: 10;
		transform: translateX(-102%);
		transition: transform 0.3s;

		&--active {
			transform: translateX(0);
		}
	}
	&-desktop {
		display: none;
	}
	&__link {
		position: relative;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.3rem;
		text-decoration: none;
		text-transform: uppercase;
		color: $white;
		transition: color 0.3s;
		&:hover {
			color: $gold;
		}
	}
}

.hamburger {
	position: absolute;
	top: 3em;
	left: 1em;
	z-index: 100;
	transform: translateY(-50%);
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $white;
		z-index: 100;
	}
}

//CARDS

.cards {
	background-color: $darker;
	overflow: hidden;

	&__box {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		gap: 2em;
		padding: 6em 2em;
	}
	&__card {
		position: relative;
		display: grid;
		justify-items: center;
		padding: 3em;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 8px;
		background-color: $dark;
		transition: background-color 0.3s, border 0.3s;
		z-index: 5;

		&:hover {
			background-color: $darker;
			border: 1px solid $gold;
			z-index: 1;
		}
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid $gold;
			border-radius: 8px;
			opacity: 0;
		}
		&:hover::before {
			animation: pulse 1s;
		}
		img {
			margin-bottom: 1em;
			width: 60px;
		}
		h3 {
			text-transform: uppercase;
			margin-bottom: 0.6em;
		}
		&--one {
			grid-row: 1/2;
			grid-column: 1/-1;
		}
		&--two {
			grid-row: 2/3;
			grid-column: 1/-1;
		}
		&--three {
			grid-row: 3/4;
			grid-column: 1/-1;
		}
	}
}

//INFO

.info {
	position: relative;
	display: grid;
	grid-template-areas:
		'title'
		'box'
		'box';
	padding: 6em 2em;
	&__title {
		grid-area: title;
	}
	&__boxes {
		grid-area: box;
	}
	&__box-img {
		width: 100%;
		object-fit: cover;
		filter: sepia();
	}
	&__box-title {
		margin: 0.3em 0;
		font-size: 2.6em;
		color: $gold;
		font-weight: 200;
	}
	&__box-text {
		margin-bottom: 0.5em;
	}
	&__box-link {
		display: block;
		margin-bottom: 2em;
		font-weight: bold;
		color: $gold;
		text-decoration: none;
		text-align: right;
		transition: color 0.3s;
		&:hover {
			color: $darkgold;
		}
	}
	&__bg-icon {
		display: none;
	}
}

@import './small';
@import './medium';
@import './large';
